html {
  scrollbar-gutter: stable; 
}
:root {
    --fWhite: #FFFFFF;
    --white: #f8f3ef;
    --black: #1A1A1A;
    --orange: #C8693A;
}
body {
    background-color: var(--fWhite);
    color: var(--black);
}

/* @view-transition {
    navigation: auto;
}

::view-transition-old(root) {
    animation-duration: .4s;
}

::view-transition-new(root) {
    animation-duration: .4s;
} */

/* main {
    opacity: 0;
} */

body {
    background-color: var(--fWhite);
    color: var(--black);
    font-family: 'DM Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Cormorant Garamond', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    align-items: center; 
    padding: 50px 40px 20px 5px;
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-left-group {
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-left-group .nav-title {
    border-bottom: 2px solid var(--orange);
    padding-bottom: 0px;
}

.nav-right-group {
    display: flex;
    align-items: center;
    margin-right: -30px;
    gap: 20px;
    flex-shrink: 0;
    white-space: nowrap;
}
nav p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--black);
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

nav ul li a.current {
    color: var(--orange);
    cursor: default;
    border-bottom: 2px solid var(--orange);
    padding-bottom: 4px;
    cursor: pointer;
}

nav ul li a:hover {
    color: var(--orange);
    transform: translateY(-2px);
    transition: color 0.3s ease, transform 0.3s ease;
}
nav ul li a.current:hover {
    transform: translateY(0); 
}

nav .nav-title {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black);
    text-transform: uppercase;
    margin: 0;
    white-space: nowrap;
}
.nav-socials {
    display: fl
